
<footer>
    <div class="f-info ">
        <div class="f-info-socials">
            <i style="color: rgb(45, 156, 230);" class="fa-brands fa-square-facebook"></i>
            <i style="color: rgb(14, 91, 142);"class="fa-brands fa-twitter"></i>
            <i style="background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);"
            class="fa-brands fa-square-instagram"></i>
            <i style="color: rgb(36, 56, 242);
            "class="fa-brands fa-linkedin"></i>

        </div>
    </div>
    <div> homeaway Private Limited</div>
    <div class="f-links">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms & Conditions</a>
    </div>
    &copy; 2024 All Rights Reserved.
</footer>
 