<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><i class="fa-brands fa-airbnb"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" href="/home">Home</a>
        <a class="nav-link active" href="/home/add">Add</a>
        <a class="nav-link disabled" href="#">About</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link disabled" href="#">Login</a>
        <a class="nav-link disabled" href="#">Register</a>
      </div>
    </div>
  </div>
</nav>