<% layout('./layouts/boilerplate') %>
<body>

    <div class="row align-items-center">
        <div class="alert alert-danger" role="alert">
        <img class="img-fluid" src="https://media.istockphoto.com/id/1251262272/vector/design-template-404-error-page-concept-vector-illustration.jpg?s=612x612&w=0&k=20&c=gmk97cG-aaEz9Ph0XDFsinyEBmxu7PTbvE8G2P6lKPg=" alt="error">
        <p><%= error.message %></p>
        <P><%= error.status %></p></P>
        </div>
    </div>

</body>
