/* custom font  */
@font-face {
    font-family: 'AirbnbCereal-W-Bd';
    src: url('../fonts/AirbnbCereal_W_Bd.otf') format('opentype');
    font-weight: bold; /* or 700 */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal-W-Bk';
    src: url('../fonts/AirbnbCereal_W_Bk.otf') format('opentype');
    font-weight: black; /* or 900 */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal-W-BIk';
    src: url('../fonts/AirbnbCereal_W_BIk.otf') format('opentype');
    font-weight: bolder; /* or 800-900 */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal-W-Lt';
    src: url('../fonts/AirbnbCereal_W_Lt.otf') format('opentype');
    font-weight: lighter; /* or 300 */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal-W-Md';
    src: url('../fonts/AirbnbCereal_W_Md.otf') format('opentype');
    font-weight: medium; /* or 500 */
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal-W-XBd';
    src: url('../fonts/AirbnbCereal_W_XBd.otf') format('opentype');
    font-weight: 800; /* or extra-bold */
    font-style: normal;
}


body {
    font-family: 'AirbnbCereal-W-Bd','AirbnbCereal-W-Md','AirbnbCereal-W-Lt', sans-serif; /* Add a fallback font */
    color: black;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
    font-family: 'AirbnbCereal-W-Md', sans-serif;
    line-height: 20px;
    /* background-color: #499ed7 !important; */

      
}

/* icon */
.fa-airbnb {
    font-size: 2.3rem;
    color: 
    rgb(255, 56, 92);
}

/* nav links */
.nav-link{
    color: black !important;
    font-size: 16px !important;
    line-height: 20px !important;
    
}

/* footer */

footer{
    background-color: #AE76A6 !important;
    color: white;
    text-align: center;
   
    width: 100%;
    line-height: 2rem;
    margin: 5px 0 5px 0;
    justify-content: center;
    padding: 5px 0 5px 0 ;
}

.f-info-socials i{
    font-size: 1.5rem;
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: white;
}

f-info-links{
    width: 100%;
}

.f-links a{
    text-decoration:none ;
    color: white;
}

.f-links a :hover{
    text-decoration:underline;
    color: blue;
}

/* cards */
.card {
    border: none !important;
    margin-bottom: 2rem;
    ;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;

}

.card-body{
    padding: 0px !important;
    margin: 3px 3px 3px 3px;

}

.card-text{
    font-family: 'AirbnbCereal-W-Lt', sans-serif;

}
.card img {
    opacity:1;
}

.card img:hover {
    opacity:0.5;
    transition: opacity 0.5s ease-in-out;
}
.card {
    margin-top: 20px;
    margin-left: 0%;
  }




/* goggle font */
/* body{
  font-family: "Space Grotesk", serif !important ;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5 !important;
} */

.listing-underlines{
    text-decoration: none !important;
}

p{
    margin: 0 !important;
}

